[user]
  name = Adam Doeler
  email = adam@adamdoeler.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
  editor = vi
	pager = less
	excludesfile = /home/vagrant/.gitignore
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
[credential]
  helper = osxkeychain
[init]
  templatedir = ~/.git_template
[branch]
  autosetupmerge = true
[grep]
  lineNumber = true
[heroku]
  account = personal
